Repository CentOS-PaaS-SIG/linchpin, pull requests merged in 2018-05, with the labels that each got.

#564 Bugfix: Making linchpin work with Ansible 2.5.x
  linchpin/ansible_runner.py
  linchpin/callbacks.py
  requirements.txt
Labels: ansible_runner, bug

#570 bugfix: Change the order of picking hosts from resources to Inventory
  linchpin/provision/InventoryFilters/InventoryFilter.py
Labels: bug, inventory

#568 Return the rc's based on config varible distill_on_error
  docs/source/examples/workspace/linchpin.conf
  linchpin/cli/__init__.py
  linchpin/linchpin.constants
  linchpin/shell/__init__.py
Labels: cli, configuration, development

#566 Bkr fixes
  docs/source/beaker.rst
  docs/source/examples/workspace/topologies/bkr-new.yml
  linchpin/provision/filter_plugins/combine_hosts_names.py
  linchpin/provision/filter_plugins/map_results.py
  linchpin/provision/library/bkr_info.py
  linchpin/provision/library/bkr_server.py
  linchpin/provision/roles/beaker/files/schema.json
  linchpin/provision/roles/beaker/tasks/provision_resource_group.yml
Labels: beaker, bug

#572 Openstack Security Group testing fix
  config/Dockerfiles/linchpin-test.sh
  config/Dockerfiles/linchpin-tests.sh
  docs/source/examples/workspace/topologies/os-sg-new.yml
  linchpin/cli/__init__.py
  linchpin/provision/roles/openstack/tasks/provision_os_sg.yml
Labels: ci, openstack

#574 Reinstate --output-pinfile
  linchpin/cli/__init__.py
Labels: bug, cli

#578 JenkinsfileRelease releases to test.pypi now
  config/Dockerfiles/JenkinsfileRelease
  config/s2i/jenkins/slave/Dockerfile
  scripts/create_pypi_package.sh
Labels: cd, release

#582 Fix layout templating
  linchpin/cli/__init__.py
  linchpin/utils/dataparser.py
Labels: bug, inventory

#577 Fix linchpin distiller to render values of every server provisioned
  linchpin/cli/__init__.py
Labels: bug, distiller

#581 Inventory generation fixes
  linchpin/__init__.py
  linchpin/cli/__init__.py
  linchpin/provision/InventoryFilters/GenericInventory.py
  linchpin/provision/InventoryFilters/InventoryFilter.py
  linchpin/provision/filter_plugins/ordered_yaml.py
  linchpin/provision/roles/inventory_gen/tasks/main.yml
  linchpin/utils/dataparser.py
  requirements.txt
Labels: bug, inventory, testing_required

#588 bugfix: fix distiller render for aws instances
  linchpin/cli/__init__.py
Labels: bug, distiller

#580 libvirt: expand tilde character from libvirt_image_path
  linchpin/provision/roles/libvirt/tasks/copy_image_src.yml
  linchpin/provision/roles/libvirt/tasks/copy_image_src_local.yml
  linchpin/provision/roles/libvirt/tasks/copy_image_src_remote.yml
  linchpin/provision/roles/libvirt/tasks/provision_libvirt_node.yml
Labels: testing_required
