Repository CentOS-PaaS-SIG/linchpin, pull requests merged in 2018-03, with the labels that each got.

#494 Added support for attaching volumes to provisioned instances.
  docs/source/openstack.rst
  linchpin/provision/roles/openstack/files/schema.json
  linchpin/provision/roles/openstack/tasks/provision_os_server.yml
Labels: development, enhancement, openstack, playbooks, testing needed

#505 Documentation fix removed extra '-' to restore table structure
  docs/source/openstack.rst
Labels: documentation

#512 Allow up/destroy using rundb data
  docs/source/examples/workspace/linchpin.conf
  linchpin/__init__.py
  linchpin/cli/__init__.py
  linchpin/exceptions/__init__.py
  linchpin/linchpin.constants
  linchpin/rundb/__init__.py
  linchpin/rundb/basedb.py
  linchpin/rundb/tinyrundb.py
  linchpin/shell/__init__.py
  linchpin/shell/mutually_exclusive.py
  requirements.txt
Labels: api, cli
