Repository CentOS-PaaS-SIG/linchpin, pull requests merged in 2019-12, with the labels that each got.

#1433 Run sync instead of sleep during libvirt provisioning
  linchpin/provision/roles/libvirt/tasks/provision_libvirt_node.yml
Labels: libvirt

#1411 Added Azure resource management with API
  config/Dockerfiles/linchpin-tests.sh
  config/Dockerfiles/tests.d/azure/03_azure_virtual_subnet
  config/Dockerfiles/tests.d/azure/04_azure_vm_public_image
  config/Dockerfiles/tests.d/azure/05_azure_api
  config/Dockerfiles/tests.d/azure/08_azure_multi_vm
  docs/source/azure.rst
  docs/source/examples/workspaces/azure/PinFile
  docs/source/examples/workspaces/azure/body.json
  linchpin/provision/roles/azure/files/schema.json
  linchpin/provision/roles/azure/tasks/main.yml
  linchpin/provision/roles/azure/tasks/provision_azure_api.yml
  linchpin/provision/roles/azure/tasks/provision_azure_network_interface.yml
  linchpin/provision/roles/azure/tasks/teardown_azure_api.yml
  linchpin/provision/roles/azure/tasks/teardown_azure_network_interface.yml
  linchpin/provision/roles/gather_resources/tasks/main.yml
Labels: azure

#1346 Update beaker setup dependencies with linchpin
  linchpin/provision/roles/dependencies/tasks/beaker_deps.yml
  linchpin/provision/roles/dependencies/tasks/main.yml
  setup.py
Labels: 1, ansible galaxy, code improvement, dependencies, dependency check, developer tools
